---
layout: default
---
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">Over</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for gallery in site.data.galleries %}
        <article class="thumb">
            <a href="{{ site.baseurl }}/gallery/{{gallery.id}}.html">
                <span class="thumb__description">{{gallery.description}}</span>
                <img class="image" src="{{ site.baseurl }}{{ site.photocollection_location }}/{{gallery.id}}/thumbs/thumbnail.jpg"
                     alt=""
                     data-name="{{ image.name }}"/></a>
        </article>
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                </section>

                <p class="copyright">
                    &copy; {{ site.author }}
                </p>
            </div>
        </div>
    </footer>
</div>
