---
layout: default
gallery_directory: ijsvogel
---

<!-- Wrapper -->
<div id="wrapper">
    {% include top-header.html %}
    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for image in site.static_files %}
        {% if image.path contains 'ijsvogel/fulls' %}
        {% if image.name != 'thumbnail.jpg' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.photocollection_location }}/{{page.gallery_directory}}/fulls/{{ image.name }}"
               class="image">
                <img class="thumbnail" src="{{ site.baseurl }}{{ site.photocollection_location }}/{{page.gallery_directory}}/thumbs/{{ image.name }}"
                     alt=""
                     data-name="{{ image.name }}"/></a>
        </article>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    {% include author.html %}
</div>
