<!-- Footer -->
<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                <h2>{{ site.footer.name }}</h2>
                <p>{{ site.footer.bio }}</p>
            </section>

            <p class="copyright">
                &copy; {{ site.author }}
            </p>
        </div>
    </div>
</footer>
