<!-- Header -->
<header id="header">
    <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
    <nav>
        <ul>
            <li><a href="#footer" class="icon fa-info-circle">Over</a></li>
        </ul>
    </nav>
</header>
<a href="/" class="back-button">< terug</a>
